= provide(:title, "Join a league")
= provide(:headline, "Join a league")

= form_for @membership, html: { class: "new_membership form-horizontal" } do |f|
  %fieldset
    = render 'shared/error_messages', object: f.object
    .control-group
      .control-label= label_tag :code
      .controls
        = text_field_tag :code, nil, class: "span5", placeholder: "Enter code"
        %p.help-block
          %em Get this code from your league administrator
    %div.form-actions
      = f.submit "Join league", class: "btn btn-large btn-primary"
      = link_to "Cancel", :back, class: "btn btn-large"