= provide(:title, "Create a pool")
= provide(:headline, "Create a pool")

= form_for @league, :validate => true, html: { class: "new_league form-horizontal" } do |f|
  %fieldset
    = render 'shared/error_messages', object: f.object
    .control-group
      .control-label= f.label :name
      .controls= f.text_field :name, class: "span5", placeholder: "Enter pool name"
    .control-group
      .control-label= f.label :description
      .controls= f.text_area :description, class: "span5", rows: 10, placeholder: "Enter pool description (optional)"
    .control-group
      .control-label= f.label :code, "Code"
      .controls
        = f.text_field :code, class: "span5", placeholder: "Enter code"
        %p.help-block 
          %em For private pools, members will need this code to join.
    .form-actions
      = f.submit "Create pool", class: "btn btn-large btn-primary"
      = render 'shared/back_button'