= provide(:title, "Re-send unlock instructions")
= provide(:headline, "Re-send unlock instructions")

= form_for resource, :validate => true, :as => resource_name, :url => unlock_path(resource_name), :html => { class: "new_user form-horizontal", :method => :post } do |f|
  %fieldset
    = render 'devise/shared/error_messages'
    .control-group
      .control-label= f.label :email
      .controls= f.email_field :email
    .form-actions
      = f.submit "Re-send unlock instructions", class: "btn btn-large btn-primary"
      = render 'shared/back_button'


= render "devise/shared/links"