= provide(:title, @user.username)
= provide(:headline, @user.username)
= provide(:subhead, @user.name)

- if current_user == @user
  %h2 My Pools
- else
  %h2 Pools
%table.table.table-bordered.table-hover.table-striped
  %thead
    %tr
      / http://stackoverflow.com/questions/9945620/making-a-table-row-into-a-link-in-rails
      %th Pool
      %th Position
  %tbody
    = render 'leagues'
    = render 'memberships'
    - if @leagues.nil? && @memberships.nil?
      %tr 
        %td
          %em You're not in any pools
        %td