= provide(:title, "Sign in")
= provide(:headline, "Sign in")

= form_for resource, :as => resource_name, :url => session_path(resource_name), html: { class: "new_user form-horizontal" } do |f|
  %fieldset
    .control-group
      .control-label= f.label :login
      .controls= f.text_field :login, placeholder: "Enter username or email"
    .control-group
      .control-label= f.label :password
      .controls= f.password_field :password, placeholder: "Enter password"
    - if devise_mapping.rememberable?
      = f.hidden_field :remember_me, value: 1
    .form-actions
      = f.submit "Sign in", class: "btn btn-large btn-primary"
      = render 'shared/back_button'

= render "devise/shared/links"