= provide(:title, "Week #{params[:week_id]} Pick")
= provide(:headline, "Pick: Week #{params[:week_id]}")
- w = params[:week_id].to_i.to_words
= provide(:subhead, "Make your pick for week #{w}")


= link_to "Cancel", league_path(@league), class: "btn btn-large pull-right"

= render 'pagination_links'

%table.table.table-bordered.table-hover.table-striped
  %thead
    %tr
      / %th Game Time
      %th Away Team
      %th Home Team
  %tbody
    - @matchups.each do |m|
      = render 'matchup', object: m

= render 'pagination_links'