!!!
%html
%head
  %title= full_title(yield(:title))
  = stylesheet_link_tag "application", :media => "all"
  = javascript_include_tag "application"
  = filepicker_js_include_tag
  = csrf_meta_tags

- if controller_name == 'static_pages'

  %body.promo
    = yield

- else
  
  = render 'shared/navbar'
  .outer-container
    .container.main
      .span9.offset1
        = render 'shared/header'
        = render 'shared/flash_messages'
        = yield
        = render 'shared/footer'
